.auth-container {
  width: 100%;
  min-height: 100vh;
  background: #e8f3ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.auth-box {
  width: 400px;
  background: #ffffff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 14px rgba(0, 96, 255, 0.1);
  text-align: center;
}

.auth-title {
  font-size: 26px;
  font-weight: bold;
  color: #0a4ea3;
  margin-bottom: 10px;
}

.auth-subtitle {
  color: #1f5fbf;
  margin-bottom: 20px;
}

.auth-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 10px;
  border: 1px solid #9ac3ff;
  background: #f7fbff;
}

.auth-btn {
  width: 100%;
  padding: 14px;
  background: #0a74ff;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

.auth-btn:hover {
  background: #005ad6;
}

.link-btn {
  margin-top: 14px;
  cursor: pointer;
  color: #0a50d6;
}
